<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Varela" rel="stylesheet"/>
		<link href="C:/Users/Phoebe/eclipse-workspace/port/src/main/resources/static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
		<title>PORT - Home</title>
	</head>

	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="home.html">PORT</a>
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="properties.html">Properties</a>
				</div>
				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link" href="account.html">Account</a>
					<a class="nav-item nav-link" href="login.html">Sign Out</a>
				</div>
			</nav>
		</div>
	</body>
</html>